In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("World+University+Rankings+2023.csv")
df

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

In [6]:
print('How many universities are there in the dataset? {}'.format(df['Name of University'].count()))

How many universities are there in the dataset? 2233

In [7]:
df2 = df.groupby(['Location']).count().reset_index()[['Location']]
df2 = df2['Location'].count()

print('How many different countries are there? {}'.format(df2))

How many different countries are there? 116

In [8]:
# Filter out the top 100 universities
top_100_universities = df.head(100)

# Count the number of universities from each country
country_counts = top_100_universities['Location'].value_counts().reset_index()

# Print the country distribution
print('What is the distribition of contries in top 100 universities?\n {}'.format(country_counts))

What is the distribition of contries in top 100 universities?
           Location  count
0    United States     34
1   United Kingdom      7
2          Germany      6
3      Switzerland      4
4        Australia      4
5           France      4
6      Netherlands      4
7            China      3
8           Canada      2
9            Japan      2
10     South Korea      2
11       Singapore      1
12          Sweden      1

In [9]:
df4 = df['No of student'].str.replace(",", "").astype(float)
df4 = df4.head(10)
df4 = df4.mean().astype(int)

print('What is the average number of students in top 10 universities? {}'.format(df4))

What is the average number of students in top 10 universities? 17408

In [10]:
df5 = df.head(10)
# df5 = df5['International Student'].str.replace("%",'.0').dropna().astype(float)
df5['test'] = df5['International Student'].head(10).str.replace("%",'.0').dropna().astype(float)
df5 = df5[df5['test'] > 50].reset_index()

UniName = df5['Name of University'].item()
UniName

print('Which are the top 10 universities with more than 50% international student? {}'.format(UniName))

Which are the top 10 universities with more than 50% international student? Imperial College London

C:\Users\Donald.Modiba\AppData\Local\Temp\ipykernel_27736\971226339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['test'] = df5['International Student'].head(10).str.replace("%",'.0').dropna().astype(float)

In [11]:
df6 = df.head(10)
df6.insert(7, "Female", df["Female:Male Ratio"].str.split(":").str[0].str.strip().astype(float))
df6.insert(7, "Male", df["Female:Male Ratio"].str.split(":").str[-1].str.strip().astype(float))

df6 = df6[df6['Female'] > df6['Male']]
Uni_names = df6['Name of University'].reset_index(drop=True)
Uni_names

print('Which are the top 10 universities with a predominantly female presence? {} and {}'.format(Uni_names[0], Uni_names[1]))

Which are the top 10 universities with a predominantly female presence? University of California, Berkeley and Yale University