In [3]:
# Instructions:
# Dataset: You will be provided with a CSV file named "students.csv." This file contains information about students, including their names, ages, and cities.
# 
# Task: Your task is to create a Python script that reads the CSV dataset, uses the filter_dataframe function (which you must create), and answers specific questions related to data filtering and manipulation.
# 
# Function Description: This function takes three arguments: a Pandas DataFrame, a column name, and a filter value. It returns a new DataFrame containing only the rows where the specified column's value matches the given filter value.  



# Questions for this assignment
# How many students are there in the dataset who are from 'San Francisco'?
# 
# What is the average age of students from 'Chicago'?
# 
# Create a new DataFrame that contains only the students who are 30 years old or older. How many students meet this criterion?

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('students.csv')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4      Eve   25       New York
5    Frank   28         Boston
6    Grace   22  San Francisco
7    Helen   32    Los Angeles
8      Ivy   29        Chicago
9     Jack   26       New York

In [6]:
colName = 'City'
filValue = 'San Francisco'
def filter_dataframe(pand_Datafram, column_Name, Filter_Value):
    filterr1 = pand_Datafram[pand_Datafram[column_Name] == Filter_Value].count()
    return filterr1['Age']

filter_dataframe(df, colName, filValue)

2

In [7]:
colName = 'City'
filValue = 'Chicago'

def filter_dataframe1(pand_Datafram, column_Name, Filter_Value):
    filterr1 = pand_Datafram[pand_Datafram[column_Name] == Filter_Value]
    return filterr1['Age'].mean()

filter_dataframe1(df, colName, filValue)

34.5

In [8]:
colName = 'Age'
filValue = 30

def filter_dataframe2(pand_Datafram, column_Name, Filter_Value):
    filterr1 = pand_Datafram[pand_Datafram[column_Name] >= Filter_Value]
    return filterr1[column_Name].count()

filter_dataframe2(df, colName, filValue)

4