In [ ]:
import pandas as pd
pd

In [56]:
# Creating a DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 15, 20, 25, 30, 35],
        'Revenue': [100, 200, 300, 400,900,2500]}

df = pd.DataFrame(data)
df

  Category  Value  Revenue
0        A     10      100
1        B     15      200
2        A     20      300
3        B     25      400
4        A     30      900
5        B     35     2500

In [57]:
grouped = df.groupby("Category").agg({'Value':'count'})
grouped

          Value
Category
A             3
B             3

In [58]:
sum_values = df.groupby('Category').agg({'Value': 'sum'})
sum_values

          Value
Category
A            60
B            75

In [59]:
grouped_Test = df.groupby("Category")
grouped_Test

In [60]:
sum_values_Test = grouped_Test["Value"].sum()
sum_values_Test

Category
A    60
B    75
Name: Value, dtype: int64

In [61]:
grouped_multi = df.groupby("Category")
grouped_multi['Value'].sum()

Category
A    60
B    75
Name: Value, dtype: int64

In [63]:
result = grouped_multi.agg({'Value': ['sum', 'mean'], 'Revenue': 'max'})
result

         Value       Revenue
           sum  mean     max
Category
A           60  20.0     900
B           75  25.0    2500